<div class="small-wizard-image text-dark">
    <div class="small-wizard-image--border d-flex justify-content-center align-items-center position-relative">
        <div
            class="img-container"
            :class="{'basic-bg': wizard.affinity === 1, 'fire-bg': wizard.affinity === 2, 'water-bg': wizard.affinity === 3, 'wind-bg': wizard.affinity === 4}"
        >
            <img :src="imageUrl" v-if="imageUrl !== ''" />
            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="spinner"></div>
            </div>
        </div>
        <div
            class="small-wizard-info position-absolute d-flex justify-content-between border-top border-dark px-2"
            :class="{'basic-bg-dark': wizard.affinity === 1, 'fire-bg-dark': wizard.affinity === 2, 'water-bg-dark': wizard.affinity === 3, 'wind-bg-dark': wizard.affinity === 4}"
        >
            {{ getWizardPower }}
        </div>
        <div class="small-wizard-id position-absolute bg-white border-bottom border-left border-dark px-2">
            <router-link :key="wizard.id" class="text-dark" :to="'/wizards/'+wizard.id"> #{{ wizard.id }} </router-link>
        </div>
        <div v-if="forSale" class="small-wizard-image__for-sale position-absolute bg-white border-bottom border-right border-dark px-1">
            <a
                target="_blank"
                :href="'https://opensea.io/assets/0x2f4bdafb22bd92aa7b7552d270376de8edccbc1e/'+wizard.id+'?ref=0x1281a133b59788b9e3eb4f7603babe538fb60584'"
            >
                <img src="../../assets/opensea-logomark-flat-colored-blue.svg" height="20" />
            </a>
        </div>
    </div>
</div>
