@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../../../shared/scss/bootstrap-ext.scss';
@import '../../../shared/scss/spinner.scss';

.duel-data-players {
}

.win {
    background-color: lightgreen;
}

.draw {
    background-color: #ffc107;
}

.loss {
    background-color: lightcoral;
}
