<div class="duel-data-player d-flex flex-column w-100 overflow-hidden" :class="{'duel-data-player--expanded': expanded}">
    <div class="d-flex flex-column w-100">
        <div class="duel-data-player__address d-inline-block align-self-start bg-dark text-white p-2 rounded text-truncate">
            <router-link class="text-white" :to="'/players/'+player1.address">
                {{ player1.address }}
            </router-link>
        </div>
        <div class="d-inline-block">VS</div>
        <div class="duel-data-player__address d-inline-block align-self-end bg-dark text-white p-2 rounded text-truncate">
            <router-link class="text-white" :to="'/players/'+player2.address">
                {{ player2.address }}
            </router-link>
        </div>
    </div>
    <div class="d-flex flex-nowrap justify-content-between">
        <div class="duel-data-player__stats w-100 d-flex flex-column pr-4">
            <div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row">
                <div>Wins </div>
                <div>{{ player1.wins }}</div>
            </div>
            <div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row">
                <div>Losses </div>
                <div>{{ player1.losses }}</div>
            </div>
            <div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row">
                <div>Draws </div>
                <div>{{ player1.draws }}</div>
            </div>
            <div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row">
                <div>Wizards </div>
                <div>{{ player1.wizardCount }}</div>
            </div>
            <div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row">
                <div>Pwr sum </div>
                <div>{{ readablePower(player1.wizardPowerSum) }}</div>
            </div>
        </div>
        <div class="duel-data-player__stats w-100 d-flex flex-column pl-4">
            <div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row">
                <div>Wins</div>
                <div>{{ player2.wins }}</div>
            </div>
            <div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row">
                <div>Losses</div>
                <div>{{ player2.losses }}</div>
            </div>
            <div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row">
                <div>Draws</div>
                <div>{{ player2.draws }}</div>
            </div>
            <div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row">
                <div>Wizards</div>
                <div>{{ player2.wizardCount }}</div>
            </div>
            <div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row">
                <div>Pwr sum</div>
                <div>{{ readablePower(player2.wizardPowerSum) }}</div>
            </div>
        </div>
    </div>
</div>
