@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../../../shared/scss/bootstrap-ext.scss';
@import '../../../shared/scss/spinner.scss';

.duel-data-player {
    transition: all 0.2s;
    max-height: 110px;

    &--expanded {
        max-height: 550px;
    }

    &__address {
        width: 50vw;
        max-width: 300px;

        @include media-breakpoint-up(lg) {
            width: auto;
            max-width: initial;
        }
    }

    &__stats {
        max-width: 300px;
    }
}
