<div class="duel-data-wizard overflow-hidden w-100 px-3" :class="{'duel-data-wizard--expanded pt-4 mt-n4': expanded}">
    <div class="d-flex flex-nowrap mt-3">
        <div class="w-100 d-flex flex-wrap flex-md-nowrap justify-content-between">
            <div class="order-0">
                <table class="duel-wizard-stats duel-wizard-stats--1 text-left">
                    <tr>
                        <td>Start power:</td>
                    </tr>
                    <tr>
                        <td>{{ wiz1pwr }}</td>
                    </tr>
                    <tr>
                        <td>Owner:</td>
                    </tr>
                    <tr>
                        <td>
                            <router-link class="text-dark" :to="'/players/'+wizard.owner"> {{ wizard.owner.substring(0, 10) }}.. </router-link>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="spell-order order-2 order-md-1 d-flex d-md-block flex-column mt-3 mt-md-0"> </div>

            <div class="order-1 order-md-2">
                <table class="duel-wizard-stats duel-wizard-stats--2 text-right">
                    <tr>
                        <td>Start power:</td>
                    </tr>
                    <tr>
                        <td>{{ wiz2pwr }}</td>
                    </tr>
                    <tr>
                        <td>Owner:</td>
                    </tr>
                    <tr>
                        <td>
                            <router-link class="text-dark" :to="'/players/'+wizard2.owner"> {{ wizard2.owner.substring(0, 10) }}.. </router-link>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="trendchart position-relative w-100 pt-3">
        <h5>Score Timeline</h5>
        <div class="trendchart__left-player position-absolute"></div>
        <div class="trendchart__right-player position-absolute"></div>
        <div class="trendchart__inline position-absolute"></div>
        <TrendChart
            class="trendchart__chart"
            :id="scoreChartId"
            :interactive="true"
            :datasets="datasets"
            :grid="grid"
            :labels="labels"
            :min="min"
            :max="max"
            @mouseMove="onMouseMove"
        >
        </TrendChart>
        <div :id="'pop-'+duel.duelId" role="tooltip" :ref="'tooltip'+duel.duelId" class="tooltip-popper" :class="{'is-active': tooltipData}">
            <div class="tooltip-popper-container" v-if="tooltipData">
                <strong>{{ labels.xLabels[tooltipData.index] }}</strong>
                <div class="tooltip-popper-data">
                    <div class="tooltip-popper-data-item tooltip-popper-data-item--1">{{ tooltipData.data[0] }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
