@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../../../shared/scss/bootstrap-ext.scss';
@import '../../../shared/scss/spinner.scss';

.duel-data-wizard {
    transition: all 0.2s;
    max-height: 0;

    &--expanded {
        max-height: 700px;
    }


    .trendchart {
        &__left-player {
            top: 60px;
            left: 47px;
            right: 10px;
            bottom: 30px;
            background-color: paleturquoise;
            border: white 3px solid;
            box-shadow: 5px 5px 0 black;
            outline: 1px solid black;
        }

        &__right-player {
            top: 113px;
            left: 50px;
            right: 13px;
            bottom: 33px;
            background-color: salmon;
        }

        &__inline {
            top: 63px;
            left: 50px;
            right: 13px;
            bottom: 33px;
            border: 1px solid black;
        }

        &__chart {
            position: relative;
            z-index: 5;

            .line {
                stroke: rgba(0, 0, 0, 0.3);
            }
        }
    }

    .tooltip-popper {
        &:not(.is-active) {
            display: none;
        }

        padding: 10px;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        pointer-events: none;
        z-index: 100;

        &-data {
            display: flex;

            &-item {
                display: flex;
                align-items: center;

                &:not(:first-child) {
                    margin-left: 20px;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }

                &--1:before {
                    background: black;
                }
            }
        }
    }
}
