.btn-outline {
  border-color: black !important;
  color: black !important;
}

.btn-outline:hover {
  background-color: black !important;
  color: #fff24d !important;
}

.shadow {
  box-shadow: 5px 5px 0 black !important;
}

.custom-select {
  background-color: #fff032;
  color: black;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.custom-select--nav {
  border-radius: 0.25rem !important;
  background-color: black !important;
  color: #fff032;
}

.w-33 {
  width: 33% !important;
}

.bg-success {
  background-color: lightgreen !important;
}

.bg-yellow-1 {
  background-color: #ffff85 !important;
}

.bg-dark {
  background-color: black !important;
}

.text-warning {
  color: #fff24d !important;
}

.border-dark {
  border-color: black !important;
}

.text-dark {
  color: black !important;
}

input {
  color: black !important;
  border-color: black !important;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 10px solid black;
  border-radius: 100%;
  border-bottom-color: transparent;
  animation: spin 1s infinite linear;
  position: relative;
}

.spinner--yellow-black {
  border-color: #fff032 !important;
  border-bottom: transparent !important;
}

.spinner--yellow-black:after {
  border-color: black !important;
  border-bottom: transparent !important;
}

.spinner--black-yellow {
  border-color: black !important;
  border-bottom: transparent !important;
}

.spinner--black-yellow:after {
  border-color: #fff032 !important;
  border-bottom: transparent !important;
}

.spinner--small {
  border-width: 5px;
  width: 20px;
  height: 20px;
}

.spinner--small:after {
  height: 18px !important;
  width: 18px !important;
  border-width: 3px !important;
  top: -4px !important;
  left: -4px !important;
}

.spinner:after {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: 34px;
  height: 34px;
  border: 5px solid white;
  border-radius: 100%;
  border-bottom-color: transparent;
  animation: spin 0.5s infinite linear reverse;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.duel-data-wizard {
  transition: all 0.2s;
  max-height: 0;
}

.duel-data-wizard--expanded {
  max-height: 700px;
}

.duel-data-wizard .trendchart__left-player {
  top: 60px;
  left: 47px;
  right: 10px;
  bottom: 30px;
  background-color: paleturquoise;
  border: white 3px solid;
  box-shadow: 5px 5px 0 black;
  outline: 1px solid black;
}

.duel-data-wizard .trendchart__right-player {
  top: 113px;
  left: 50px;
  right: 13px;
  bottom: 33px;
  background-color: salmon;
}

.duel-data-wizard .trendchart__inline {
  top: 63px;
  left: 50px;
  right: 13px;
  bottom: 33px;
  border: 1px solid black;
}

.duel-data-wizard .trendchart__chart {
  position: relative;
  z-index: 5;
}

.duel-data-wizard .trendchart__chart .line {
  stroke: rgba(0, 0, 0, 0.3);
}

.duel-data-wizard .tooltip-popper {
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 100;
}

.duel-data-wizard .tooltip-popper:not(.is-active) {
  display: none;
}

.duel-data-wizard .tooltip-popper-data {
  display: flex;
}

.duel-data-wizard .tooltip-popper-data-item {
  display: flex;
  align-items: center;
}

.duel-data-wizard .tooltip-popper-data-item:not(:first-child) {
  margin-left: 20px;
}

.duel-data-wizard .tooltip-popper-data-item:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.duel-data-wizard .tooltip-popper-data-item--1:before {
  background: black;
}
