.btn-cw {
  background-color: transparent;
  border: 0;
  color: white;
}

.btn-cw.active {
  position: relative;
}

.btn-cw.active:after {
  position: absolute;
  left: 0;
  right: 0;
  top: -15px;
  height: 25px;
  content: '';
  background: url("../assets/udders-color.svg") no-repeat;
  background-size: 25px;
  background-position: top center;
  animation: shake 1s ease;
}

@keyframes shake {
  0% {
    transform: rotateZ(0);
  }
  20% {
    transform: rotateZ(45deg);
  }
  40% {
    transform: rotateZ(-45deg);
  }
  60% {
    transform: rotateZ(45deg);
  }
  80% {
    transform: rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
