$color-basic: rgb(228, 224, 252);
$color-wind: rgb(215, 255, 189);
$color-fire: rgb(255, 232, 238);
$color-water: rgb(201, 244, 244);

$color-basic-dark: #b79afc;
$color-wind-dark: #8bea63;
$color-fire-dark: #ff809b;
$color-water-dark: #35d1e7;

$color-yellow-primary: #fff032;
$color-yellow-01: #ffff85;
$color-yellow-02: #ffef57;
$color-yellow-03: #ffe133;
$color-yellow-04: #ffd45a;
$color-yellow-05: #ffc033;
