<div class="wizardstats py-5 d-flex flex-wrap flex-md-nowrap">
    <div class="d-flex flex-column">
        <WizardImageComponent :forSale="isForSale" :loading="loadingWizard" :id="getWizardId" :affinity="getWizardAffinity"></WizardImageComponent>
        <div class="d-flex flex-column mt-3">
            <div class="d-flex justify-content-between mb-2">
                <div>Id:</div><div>{{ getWizardId }}</div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div>Owner:</div
                ><div class="wizardstats--owner text-truncate">
                    <router-link class="text-dark" :to="'/players/'+wizard.owner">
                        {{ wizard.owner }}
                    </router-link>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div>Affinity:</div>
                <AffinityComponent :affinity="getWizardAffinity"></AffinityComponent>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div>Power:</div><div>{{ getWizardPower }}</div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div>Wins:</div><div>{{ wizard.wins }} ({{ (wizard.wins / wizardBattles) * 100 }}%)</div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div>Losses:</div><div>{{ wizard.losses }} ({{ (wizard.losses / wizardBattles) * 100 }}%)</div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div>Draws:</div><div>{{ wizard.draws }} ({{ (wizard.draws / wizardBattles) * 100 }}%)</div>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex flex-column ml-md-5">
        <div class="w-100 mt-5 mt-md-0">
            <h3 class="text-left"><u>Spells (NOT REAL DATA)</u></h3>
            <div class="w-100 d-flex flex-column mb-3 text-left">
                <h5>MOST USED COMBINATION</h5>
                <div class="d-flex flex-wrap">
                    <div class="mr-2" v-for="spell in wizard.commonMoveSet">
                        <SpellComponent :color="true" :affinity="spell"></SpellComponent>
                    </div>
                    <div v-if="wizard.commonMoveSet.length === 0">N/A</div>
                </div>
            </div>
            <div class="w-100 d-flex flex-column text-left">
                <h5>MOST USED SPELLS</h5>
                <div class="spell-probabilities d-flex flex-column" v-if="wizardSpellProbabilities.length > 0">
                    <div class="spell-title d-flex flex-nowrap justify-content-between mr-n3" mr-n4>
                        <div v-for="num in [1,2,3,4,5]">Spell {{ num }}</div>
                    </div>
                    <template v-for="moves in wizardSpellProbabilities">
                        <div class="spell-probabilities__data d-flex flex-nowrap justify-content-between">
                            <div v-for="moveData in moves">
                                <SpellComponent :color="true" :affinity="moveData[0]"></SpellComponent>
                            </div>
                        </div>
                        <div class="spell-probabilities__data d-flex flex-nowrap justify-content-between">
                            <div class="mt-n1 mb-2" v-for="moveData in moves">{{ moveData[1] }}%</div>
                        </div>
                    </template>
                </div>

                <div v-else>N/A</div>
            </div>
        </div>
        <div class="w-100 mt-5">
            <h3 class="text-left"><u>Duels (NOT REAL DATA)</u></h3>
            <div v-if="!loadingDuels" :key="duel.duelId + '-' + duel.wiz1Id + '-' + duel.wiz2Id" class="mt-3" v-for="duel in duels">
                <DuelComponent :wizard="wizard" :rawDuel="duel"></DuelComponent>
            </div>
            <div v-else class="mt-5 w-100 d-flex justify-content-center">
                <div class="spinner spinner--black-yellow"></div>
            </div>
        </div>
    </div>
</div>
