@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../shared/scss/bootstrap-ext.scss';

.home {
    margin-left: -15px;
    margin-right: -15px;
    .searchinput {
        max-width: 600px;
    }

    .high-scores {
        background: url('../assets/melted-cheeze.svg') repeat-x;
        background-size: contain;
        background-color: black;
        background-position: top -5px left;
        color: white;
        padding-top: 5vh;
        min-height: 80vh;
        @include media-breakpoint-up(sm) {
            padding-top: 10vh;
        }
        @include media-breakpoint-up(md) {
            padding-top: 20vh;
        }
        h1 {
            -webkit-text-stroke: 1px black;
        }
    }

    table {
        tr {
            .td-owner {
                max-width: 100px;
                @include media-breakpoint-up(md) {
                    max-width: 100%;
                }
            }

            td {
                font-size: 14px;
            }
        }
    }
}
