@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../shared/scss/bootstrap-ext.scss';

.home {
    .searchinput {
        max-width: 600px;
    }

    .high-scores {
        background: url('../assets/melted-cheeze.svg') repeat-x;
        background-size: 200%;
        background-color: black;
        background-position: top -5px left -5px;
        color: white;
        padding-top: 100px;
        min-height: 80vh;
    }

    table {
        tr {
            .td-owner {
                max-width: 100px;
                @include media-breakpoint-up(md) {
                    max-width: 100%;
                }
            }

            td {
                font-size: 14px;
            }
        }
    }
}
