<div class="home d-flex flex-column align-items-center">
    <div class="pt-5">
        <h1 id="home-title" class="text-center">Lookup a wizard by id</h1>
    </div>
    <div class="searchinput input-group mb-3">
        <input
            v-model="wizardId"
            @keyup.enter="lookupWizardById()"
            type="number"
            class="form-control color-black"
            placeholder="Id..."
            aria-label="Lookup a wizard by id"
            aria-describedby="home-title"
        />
        <div class="input-group-append">
            <button class="btn btn-outline border-black" type="button" @click="lookupWizardById()">Go</button>
        </div>
    </div>
    <div class="high-scores pb-5 w-100">
        <h1 class="text-center pt-5">Top 100</h1>
        <div class="d-flex flex-column align-items-center">
            <table>
                <thead>
                    <tr class="text-left">
                        <th class="pr-3"><u>Power</u></th>
                        <th class="pr-3"><u>Id</u></th>
                        <th><u>Owner</u></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-left" v-for="wizard in topWizards">
                        <td class="pr-3">{{ formatWizardPower(wizard.power) }}</td>
                        <td class="pr-3">
                            <router-link class="text-white" :to="'/wizards/'+wizard.id">{{ wizard.id }}</router-link>
                        </td>
                        <td class="td-owner text-truncate">{{ wizard.owner }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
