@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../shared/scss/bootstrap-ext.scss';

.home {
    .searchinput {
        max-width: 600px;
    }

    table {
        tr {
            .td-owner {
                max-width: 100px;
                @include media-breakpoint-up(md) {
                    max-width: 100%;
                }
            }

            td {
                font-size: 14px;
            }
        }
    }
}
