//@import '~bootstrap/scss/_functions';
//@import '~bootstrap/scss/_variables';
//@import '~bootstrap/scss/mixins/_breakpoints';
@import '../../shared/scss/spinner.scss';

.player-image {
    &--border {
        background-color: white;
        width: 220px;
        max-width: 100%;
        height: 220px;

        &>.img-container {
            width: 200px;
            height: 200px;
            overflow: hidden;
            background-color: #000;

            .player-img {
                background: url('../../assets/cheeze-head-color.svg') no-repeat;
                background-position: center center;
                background-size: 90%;
            }
        }
    }
}
