<div id="app">
  <nav class="navbar navbar-dark bg-dark">
    <router-link class="navbar-brand" to="/"><img src="./assets/logo.svg" width="30" height="30" class="mr-1"><h5 class="m-0 d-inline-block">CWSTATS</h5></router-link>
    <div v-if="currentRoute !== 'home'" class="form-inline d-flex flex-nowrap">
    <div class="input-group-prepend rounded-0">
        <select v-model="searchCategory" class="custom-select custom-select--nav border-dark">
          <option :key="category" v-for="category in searchCategories">{{ category }}</option>
        </select>
      </div>
      <input
        v-model="searchTerm"
        @keyup.enter="lookup()"
        type="text"
        class="form-control color-black"
        placeholder="Id..."
        aria-label="Lookup a wizard by id"
        aria-describedby="home-title"
      />
      <div class="input-group-append">
        <button class="btn border-black text-warning" type="button" @click="lookup()">Go</button>
      </div>
    </div>
  </nav>
  <div
    class="h-100"
    :class="containerClass"
  >
    <router-view />
  </div>
  <CookieFooterComponent></CookieFooterComponent>
  <FooterComponent></FooterComponent>
</div>
