@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../../shared/scss/bootstrap-ext.scss';
@import '../../shared/scss/spinner.scss';

.duel {
    .wiz-id {
        position: absolute;
        top: 10px;
        width: 100px;

        &--wiz1 {
            right: -75px;
        }

        &--wiz2 {
            left: -75px;
        }
    }

    .wiz-image {
        width: 100px;
        height: 100px;
        border-width: 5px !important;
        position: relative;

        &--wiz2 {
            img {
                margin-left: -90px !important;
                transform: scaleX(-1);
            }
        }

        &--sizing {
            position: absolute;
            top: -20px;
            left: -5px;
            width: 110px;
            height: 120px;
        }

        img {
            width: 300px;
            height: auto;
            margin-top: -50px;
            margin-left: -100px;
        }
    }
}

.win {
    background-color: lightgreen;
}

.draw {
    background-color: yellow;
}

.loss {
    background-color: lightcoral;
}
