@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../../shared/scss/bootstrap-ext.scss';
@import '../../shared/scss/spinner.scss';

.duel {
    outline: 1px solid black;
    border: 5px solid white;
    &--inner-outline {
        outline: 1px solid black;
        &.win {
            background-color: lightgreen;
        }
        &.loss {
            background-color: lightcoral;
        }
        &.draw {
            background-color: $color-yellow-04;
        }

        .expand-duel {
            height: 20px;
            //background: url('../../assets/book-light.svg') no-repeat;
            //background-position: center center;
            //background-size: 15px;
            .fa-caret-down {
                color: white;
            }

            &--expanded {
                .fa-caret-down {
                    transform: rotateZ(180deg);
                    transition: all 0.2s;
                }
            }
        }

        .wiz-id {
            position: absolute;
            top: 10px;
            width: 100px;
            font-size: 0.7rem;
            z-index: -1;
            @include media-breakpoint-up(md) {
                font-size: 1rem;
                z-index: 0;
            }
        }

        &--wiz1 {
            left: 10px;
            @include media-breakpoint-up(md) {
                left: initial;
                right: -75px;
            }
        }

        &--wiz2 {
            right: 10px;
            @include media-breakpoint-up(md) {
                right: initial;
                left: -75px;
            }
        }
    }

    .wiz-image {
        width: 50px;
        height: 50px;
        border-width: 5px !important;
        position: relative;

        @include media-breakpoint-up(md) {
            width: 100px;
            height: 100px;
        }

        &--wiz2 {
            img {
                margin-left: -45px !important;
                transform: scaleX(-1);
                @include media-breakpoint-up(md) {
                    margin-left: -90px !important;
                }
            }
        }

        &--sizing {
            position: absolute;
            top: -10px;
            left: -2.5px;
            width: 55px;
            height: 60px;
            @include media-breakpoint-up(md) {
                width: 110px;
                height: 120px;
                top: -20px;
                left: -5px;
            }
        }

        img {
            width: 150px;
            height: auto;
            margin-top: -25px;
            margin-left: -50px;
            @include media-breakpoint-up(md) {
                width: 300px;
                margin-top: -50px;
                margin-left: -100px;
            }
        }
    }

    .spell-table {
        tr {
            height: 20px;
            td {
            }
        }
    }
}

.win {
    background-color: lightgreen;
}

.draw {
    background-color: #ffc107;
}

.loss {
    background-color: lightcoral;
}
